@import "tailwindcss";

:root {
  --surface: #121314;
  --accent: #ffdca1;
  --foreground: #ffffff;
  --header-height: 72px;
}

@theme inline {
  --color-surface: var(--surface);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --spacing-header: var(--header-height);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--surface);
  color: var(--foreground);
}
